---
title: "Splash"
layout: splash
excerpt: "Nyheter"
permalink: /sv/index.html

feature_row:
  - image_path: vascular_surg.jpg
    alt: "Klinisk Medicin"
    title: "Patient-orienterad klinisk forskning på Karolinska Universitetssjukhuset"
    excerpt: "Klinisk forskning"
  - image_path: vasc_surg_edited.png
    alt: "Biomechanical simulations"
    title: "Biomekaniska Simulationer"
    excerpt: "Avancerade datoriserade modeller av aneurysm"
  - image_path: cellular_edit.png
    title: "Cell- och Molekylärbiologi"
    excerpt: "Världsledande biobanksforskning"

feature_row4:
  - url: /sv/research-area.html
    btn_label: "Mer information"
    btn_class: "btn--inverse"


alt_lang: "In English"
alt_url: /index.html
---

<h1><center>Stockholm Aneurysm Research Group</center></h1>
  <p>





{% include feature_row %}


{% include feature_row id="feature_row4" type="center" %}



<!--
- image: ki_logo_pos.png

- image: karolinska-logo.svg
- image: sos-logotyp.png
- image: sll-logo.svg

- image: KTH_Logotyp_RGB_2013.png
-->
