---
title: "Splash"
layout: splash
excerpt: "Nyheter"
permalink: /sv/splash.html

feature_row:
  - image_path: vascular_surg.jpg
    alt: "Clinical medicine"
    title: "Clinical medicine"
    excerpt: "Clinical and patient-oriented research at the Karolinska University Hospital."
  - image_path: vasc_surg_edited.png
    alt: "Biomechanical simulations"
    title: "Biomechanical simulations"
    excerpt: "State-of-the-art biomechanical simulations."
  - image_path: cellular_edit.png
    title: "Cellular and molecular biology"
    excerpt: "Cellular and molecular biological investigations of aneurysms."

feature_row4:
  - url: /research-area.html
    btn_label: "Learn more"
    btn_class: "btn--inverse"


alt_lang: "En"
alt_url: /index.html
---

# Stockholm Aneurysm Research Group: Translational Reseach
{: .text-center}




{% include feature_row %}


{% include feature_row id="feature_row4" type="center" %}



<!--
- image: ki_logo_pos.png

- image: karolinska-logo.svg
- image: sos-logotyp.png
- image: sll-logo.svg

- image: KTH_Logotyp_RGB_2013.png
-->
